WebContent/wsdl/SQLFilter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://sql.web_services.data_mashup.as.ipvs.uni_stuttgart.de" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://sql.web_services.data_mashup.as.ipvs.uni_stuttgart.de" xmlns:intf="http://sql.web_services.data_mashup.as.ipvs.uni_stuttgart.de" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://sql.web_services.data_mashup.as.ipvs.uni_stuttgart.de" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="filterData">
    <complexType>
     <sequence>
      <element name="key" type="xsd:string"/>
      <element name="criteria" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="filterDataResponse">
    <complexType>
     <sequence>
      <element name="filterDataReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="filterDataResponse">

      <wsdl:part element="impl:filterDataResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="filterDataRequest">

      <wsdl:part element="impl:filterData" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SQLFilter">

      <wsdl:operation name="filterData">

         <wsdl:input message="impl:filterDataRequest" name="filterDataRequest">

       </wsdl:input>

         <wsdl:output message="impl:filterDataResponse" name="filterDataResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SQLFilterSoapBinding" type="impl:SQLFilter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="filterData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="filterDataRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="filterDataResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SQLFilterService">

      <wsdl:port binding="impl:SQLFilterSoapBinding" name="SQLFilter">

         <wsdlsoap:address location="http://localhost:8080/Data_Mashup/services/SQLFilter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
